html {
	font: 11px Tahoma, Arial, Helvetica, sans-serif;
}
h1, h2 {
	font-weight: normal;
}
#header {
	height: 60px;
	background: url(../i/header-pat.jpg);
	margin: -8px -8px 15px -8px;
}
#header > #logo {
	height: 60px;
	width: 149px;
	background: url(../i/header-logo.png);
	background-size: cover;
}
#container > .title {
	font-size: 23px;
	margin-bottom: 10px;
}
#players {
	white-space: nowrap;
	overflow-x: scroll;
	padding-bottom: 5px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}
/* Let's get this party started */
#players::-webkit-scrollbar {
	height: 10px;
}
/* Track */
#players::-webkit-scrollbar-track {
	background: transparent;
}
/* Handle */
#players::-webkit-scrollbar-thumb {
	background: darkgrey;
}
#players > .player {
	display: inline-block;
	padding: 3px;
	cursor: pointer;
	border: 1px solid transparent;
}
#players > .player:hover {
	border: 1px solid darkgrey;
}
#players > .player > .photo {
	width: 200px;
	height: 200px;
	background: center center;
	background-size: cover;
	margin-bottom: 5px;
	position: relative;
}
#players > .player > .photo > .gender {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 5px;
	bottom: 5px;
	background-color: indianred;
}

#players > .player > .btn {
	color: white;
	display: block;
	padding: 5px 10px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid darkgreen;
	background: darkgreen;
	font-size: 16px;
}
#players > .player > .btn:hover {
	background: green;
}

#invites {
	white-space: nowrap;
	overflow-x: scroll;
	padding-bottom: 5px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}
/* Let's get this party started */
#invites::-webkit-scrollbar {
	height: 8px;
}
/* Track */
#invites::-webkit-scrollbar-track {
	background: transparent;
}
/* Handle */
#invites::-webkit-scrollbar-thumb {
	background: darkgrey;
}
#invites > .empty {
	width: 100%;
	font-size: 13px;
	text-align: center;
	height: 145px;
	line-height: 145px;
	background-color: white;
}
#invites > .invite {
	display: inline-block;
	padding: 3px;
	cursor: pointer;
	border: 1px solid transparent;
}
#invites > .invite:hover {
	border: 1px solid darkgrey;
}
#invites > .invite > .photo {
	width: 100px;
	height: 100px;
	background: center center;
	background-size: cover;
	margin-bottom: 5px;
	position: relative;
}
#invites > .invite > .btn {
	color: white;
	display: block;
	padding: 5px 10px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid darkgreen;
	background: darkgreen;
	font-size: 13px;
}
#invites > .invite > .btn:hover {
	background: green;
}

#gameArea {
	overflow: auto;
	text-align: center;
	display: none;
}
#gameArea > .player {
	padding: 3px;
	border: 1px solid transparent;
}
#gameArea > .player:hover {
	border: 1px solid darkgrey;
}
#gameArea > .player > .photo {
	width: 200px;
	height: 200px;
	background: center center;
	background-size: cover;
	margin-bottom: 5px;
	position: relative;
}
#gameArea > .player > .name,
#gameArea > .player > .result {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
}
#gameArea > .player > .result {
	color: white;
	display: none;
}
#gameArea > .left {
	float: left;
}
#gameArea > .right {
	float: right;
}
#gameArea > .question {
	display: inline-block;
	width: 375px;
	padding: 3px 10px;
}
#gameArea > .question > .type {
	font-size: 14px;
}
#gameArea > .question > .text {
	font-size: 16px;
	margin: 10px 0;
	padding: 10px;
	border-bottom: 1px solid darkgrey;
	border-top: 1px solid darkgrey;
}
#gameArea > .question > .answers {
	height: 31px;
}
#gameArea > .question > .answers > .btns {
	height: 31px;
}
#gameArea > .question > .answers > .btns > .btn {
	color: white;
	display: inline-block;
	padding: 5px 10px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
#gameArea > .question > .answers > .btns > .yes {
	border: 1px solid darkgreen;
	background: darkgreen;
}
#gameArea > .question > .answers > .btns > .yes:hover {
	background: green;
}
#gameArea > .question > .answers > .btns > .no {
	border: 1px solid darkred;
	background: darkred;
}
#gameArea > .question > .answers > .btns > .no:hover {
	background: red;
}
#gameArea > .question > .answers > .wait {
	display: none;
	height: 31px;
	line-height: 31px;
}
#gameArea > .question > .answers > .result {
	color: white;
	font-size: 16px;
	display: none;
	height: 31px;
	line-height: 31px;
}